
<!-- BEGIN PAGE HEADER-->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="#/dashboard.html">Home</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#/logs.html">Logs</a>
        </li>
    </ul>
  
</div>
<h3 class="page-title"> Logs
    <small>logs list</small>
</h3>
<!-- END PAGE HEADER-->
<!-- BEGIN MAIN CONTENT -->
<div class="row" ng-controller="LogsPageController" >
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-dark">
                    <i class="icon-settings font-dark"></i>
                    <span class="caption-subject bold uppercase"> Managed Logs</span>
                </div>
                <div class="actions">
                    <!-- <div class="btn-group btn-group-devided" data-toggle="buttons">
                        <label class="btn btn-transparent dark btn-outline btn-circle btn-sm active">
                            <input type="radio" name="options" class="toggle" id="option1">Actions</label>
                        <label class="btn btn-transparent dark btn-outline btn-circle btn-sm">
                            <input type="radio" name="options" class="toggle" id="option2">Settings</label>
                    </div> -->
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-toolbar">
                    <div class="row">
                        <div class="col-md-6">
                            <!--<div class="btn-group">
								<button id="btn-add" class="btn sbold green" ng-click="usertoggle('add',0, 0)">Add New User
                                    <i class="fa fa-plus"></i>
                                </button>
                            </div>-->
                        </div>
                        <div class="col-md-6">
                            <div class="btn-group pull-right">
                                <div class="col-xs-6">
									<input ng-model="q" id="search" class="form-control" placeholder="Search">
								</div>
								<div class="col-xs-6">
								  <input type="number" min="1" max="100" class="form-control" ng-model="pageSize">
								</div>
								
								<!--<button class="btn green  btn-outline dropdown-toggle" data-toggle="dropdown">Tools
                                    <i class="fa fa-angle-down"></i>
                                </button>
                                <ul class="dropdown-menu pull-right">
                                    <li>
                                        <a href="javascript:;">
                                            <i class="fa fa-print"></i> Print </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">
                                            <i class="fa fa-file-pdf-o"></i> Save as PDF </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">
                                            <i class="fa fa-file-excel-o"></i> Export to Excel </a>
                                    </li>
                                </ul>-->
                            </div> 
                        </div>
                    </div>
                </div>
                <table class="table table-striped table-bordered table-hover table-checkable order-column">
                    <thead>
                        <tr>
                            <th style="width: 15%;"> User IP </th>
                            <th> User location </th>
                            <th> Email address </th>
                            <th> Access Granted </th>
                            <th> Date and time </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="odd gradeX" dir-paginate="log in logs | filter:q | itemsPerPage: pageSize">
							
							<td>{{ log.user_ip }}</td>
							<td>{{ log.user_location }}</td>
							<td>{{ log.email_address }}</td>
							<td>{{ log.access_granted }}</td>
							<td>{{ log.created_at }}</td>
							
                        </tr>
                        
                    </tbody>
                </table>
				
				<dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="tpl/dirPagination.tpl.html"></dir-pagination-controls>
				
            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>

	
	
</div>
<!-- END MAIN CONTENT -->
